@font-face {
    font-family: MuseoSansCyrl;
    src: url(../vendor/fonts/Museo500-Regular.ttf);
}
.textos{
	background-color: #fff;
	font-size: 10px;
	font-weight: bold;
	fill: white;
	text-shadow: 0.05em 0.05em 0.05em #000;
}
#description{
	font-family: MuseoSansCyrl;
	font-size: 13px;
	word-break: break-all;
}
.vcenter {
  display: flex;
  align-items: center;
}
